
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #55113340;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.hoverableCard {
    transition: all 0.4s;
}
.hoverableCard:hover {
    box-shadow: 0px 6px 4px black;
    cursor: pointer;
}
